{% include 'layout.html' %}
{% include 'navbar.html' %}
<div class="containers-wrapper">
    <div class="container">
        <h2>Portico Tennis Court</h2>
            <div id="datePickerContainer">
                <input type="text" id="datePicker" class="" placeholder="Select a Date" readonly>
                <div id="dateMenu"></div>
            </div>
            <div class="start-time-container">
                <input type="text" id="startTimePicker" class="" placeholder="Pick a start time" readonly>
                <div class="" id="startTimeMenu"></div>
            </div>
            <div class="end-time-container">
                <input type="text" id="endTimePicker" class="" placeholder="Pick an end time" readonly>
                <div class="" id="endTimeMenu"></div>
            </div>
            <button type="submit" id="confirmEndTime" class="">Confirm Booking</button>
            <div id="loadingSpinner" class="loading-spinner hidden"></div>
    </div>
    <div class="container">
        <h2>Bookings</h2>
            <div id="bookingsContainer"></div>
    </div>
</div>

<script>
    const bookingsData = {{ bookings | tojson | safe }};
    const dateOptionsData = {{ date_options | tojson | safe }};
</script>
    

