{% include 'layout.html' %}
{% include 'navbar.html' %}
<div class="container">
    <h2>Portico Tennis Court Bookings</h2>
    <!--<label class="">Select a Date:</label>-->
        <div id="datePickerContainer">
            <input type="date" id="datePicker" class="" required>
        </div>
        <div class="start-time-container">
            <input type="text" id="startTimePicker" class="" placeholder="Pick a start time" readonly>
            <div class="" id="startTimeMenu"></div>
        </div>
        <div class="end-time-container">
            <input type="text" id="endTimePicker" class="" placeholder="Pick an end time" readonly>
            <div class="" id="endTimeMenu"></div>
        </div>
        <button id="confirmEndTime" class="">Confirm Booking</button>
        <div id="loadingSpinner" class="loading-spinner hidden"></div>
</div>

