{% include 'layout.html' %}
{% include 'navbar.html' %}
<div class="containers-wrapper">
    <div class="container">
        <h2>Portico Tennis Court</h2>
        <!--<label class="">Select a Date:</label>-->
        <small style="color: #666;">Please select a date between today and 6 days from now. Some mobile browsers may allow incorrect dates, but we’ll fix them automatically.</small>
            <div id="datePickerContainer">
                <input type="date" id="datePicker" class="" required>
            </div>
            <div class="start-time-container">
                <input type="text" id="startTimePicker" class="" placeholder="Pick a start time" readonly>
                <div class="" id="startTimeMenu"></div>
            </div>
            <div class="end-time-container">
                <input type="text" id="endTimePicker" class="" placeholder="Pick an end time" readonly>
                <div class="" id="endTimeMenu"></div>
            </div>
            <button type="submit" id="confirmEndTime" class="">Confirm Booking</button>
            <div id="loadingSpinner" class="loading-spinner hidden"></div>
    </div>
    <div class="container">
        <h2>Bookings</h2>
            <div id="bookingsContainer"></div>
    </div>
</div>

<script>
    const bookingsData = {{ bookings | tojson | safe }};
</script>
