{% include 'layout.html' %}
{% include 'navbar.html' %}
<div class="container">
    <h2>Password Change</h2>
    <form id="passwordChangeForm">
        <p>You are logged in as: {{ user.username }}</p>
        <p>Role: {{ user.user_role }}</p>
        <div class="password-field">
            <input type="password" id="current-password" placeholder="Current Password" name="currentPassword" autocomplete="current-password" required>
            <i class="far fa-eye-slash" id="togglePassword"></i>
        </div>
        <div class="password-field">
            <input type="password" id="new-password" placeholder="New Password" name="newPassword" required>
            <i class="far fa-eye-slash" id="toggleNewPassword"></i>
        </div>
        <button type="submit">Confirm Password Change</button>
        <div id="loadingSpinner" class="loading-spinner hidden"></div>
    </form>
    <p class="error-message" id="errorMessage"></p>
</div>