{% include 'layout.html' %}
<div class="container">
    <h2>Register</h2>
    <form id="registerForm">
        <input type="email" id="email" placeholder="Email" required>
        <input type="text" id="username" placeholder="Username" required>
        <input type="text" id="firstName" placeholder="First Name" required>
        <input type="text" id="lastName" placeholder="Last Name" required>
        <input type="text" id="role" placeholder="Role" required>
        <input type="text" id="apartmentNumber" placeholder="Apartment Number" required>
        <input type="text" id="phoneNumber" placeholder="Phone Number" required>
        <input type="password" id="password" placeholder="Password" required>
        <input type="password" id="confirmPassword" placeholder="Verify Password" required>
        <div id="error" class="error-message"></div>
        <button type="submit">Sign Up</button>
    </form>
    <p></p>
    <div class="link">
        <a href="/auth/login-page">Already have an account?</a>
    </div>
</div>
